body {
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}

.java {
    font-size: 40px;
    color: white;
    text-align: center;

}

.fanus {
    background-image: url(donation13.jpg);
    background-size: cover;
    padding: 15%;


}

.manus {
    color: white;
    text-align: center;

}

.pro {
    text-align: center;
}

.ops {
    background-color: tomato;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 5px;


}

.order {
    display: flex;
    padding: 10px;
}

.no {
    font-size: 30px;
    text-align: center;
}

.omi {
    text-align: center;
}

#bro {
    text-align: center;
}

.fool {
    height: 10px;
    padding: 2%;
    border: 1px solid white;
    background-color: whitesmoke;
    display: inline;
    border-radius: 5px;
}

.hold {
    text-align: center;
    font-size: 20px;
    color: gray;
}

.class {
    border: 3px solid tomato;
    color: tomato;
    background-color: rgb(247, 233, 231);
}

#fast {
    text-align: center;
    font-size: 30px;

}

#romio {
    text-align: center;
}

#black {
    width: 50%;
}

#roman {
    display: flex;




}

.book {
    padding: 100px;
}

#okay {
    background-color: rgb(187, 168, 168);
    padding: 50px;
    margin: 2%;


}

#remot {
    background-color: rgb(213, 189, 193);
    padding: 50px;
    margin: 2%;

}

#job {
    background-color: rgb(219, 193, 144);
    padding: 50px;
    margin: 2%;

}

.boom {
    padding: 120px;

}

footer {
    background-color: black;
    text-align: center;
    padding: 2%;

}

#boka {
    color: tomato;
    font-family: 'Lobster', cursive;
}

#blue {
    color: white;
}

#good {
    display: flex;
    padding: 150px;
}

.name {
    text-decoration: none;
    background-color: tomato;
    padding: 12px 40px;
    border-radius: 5px;

}

.habu {
    display: flex;
}

.boom {
    width: 50%;
    padding: 90px;


}

.boom img {
    width: 90%;
    border-radius: 5px;
}

#tumi {
    text-align: center;
}

#lol {
    padding: 5%;
    background-color: rgb(221, 204, 204);
    margin-right: 360px;
    margin-left: 360px;
    margin-top: 30px;


}

input {
    width: 30%;
    padding: 10px;
    background-color: rgb(231, 225, 225);
    border-radius: 5px;
    border: none;
}

button {
    width: 20%;
    padding: 10px;
    margin: -5px;
    border-radius: 5px;
    background-color: tomato;
    border: none;
}